<% unless vms.empty? %>
  <div class="card mb-4">
    <div class="card-header bg-primary">
      <%= link_to vms_path, class: 'text-white' do %>
        <h3> <%= fa_icon('desktop', text: header) %></h3>
      <% end %>
    </div>
    <div class="card-body">
      <%= render 'vms/table', {vms: vms, id: id, buttons: buttons,
        datatable_options: {searching: false, paging: false, info:false}} %>
    </div>
  </div>
<% end %>