<h1>Operating Systems</h1>

<%= link_to fa_icon('plus'), new_operating_system_path,
  title: 'Add new OS',
  :data => { toggle: 'tooltip', placement: 'left' },
  class: 'btn btn-primary float-right' %>


<table class="table" data-toggle="datatable" id="mytable">
  <thead>
    <tr>
      <th>Name</th>
      <%# https://datatables.net/reference/option/columns.orderable %>
      <th data-orderable="false">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @operating_systems.each do |os| %>
      <tr>
        <td><%= os.name %></td>
        <td>
          <%= link_to fa_icon('pencil'), edit_operating_system_path(os),
            title: 'Edit',
            class: "btn btn-sm btn-primary" %>
          <%= link_to fa_icon('trash'), os, method: :delete,
            title: 'Delete',
            data: { confirm: "Are you sure you want to delete '#{os.name}'?" },
            class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
