<h1>Operating Systems</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operating_systems.each do |operating_system| %>
      <tr>
        <td><%= operating_system.name %></td>
        <td><%= link_to 'Edit', edit_operating_system_path(operating_system), class: "btn btn-primary" %></td>
        <td><%= link_to 'Delete', operating_system, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operating System', new_operating_system_path, class: 'btn btn-primary' %>
