<h1>Welcome to HART<br/>
<small class="text-muted">Landing#index</small></h1>
<p>Find me in app/views/landing/index.html.erb</p>
<p>This will become the landing page as requested by <a href="https://github.com/hpi-swt2/vm-portal/issues/10">Issue 10</a>.</p>

