<table class="table table-borderless">
    <tbody class="table-active">
        <tr>
            <th colspan="2"><h4 class="mb-0">Hardware</h4></th>
        </tr>
        <% @hardware.each do |key, value| %>
        <tr>
            <td><%= key %></td>
            <td><%= value %></td>
        </tr>
        <% end %>
    </tbody>
</table>