<h1>Hosts</h1>

<table class="table" id="hosts" data-toggle="datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Vendor</th>
      <th>Model</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% @hosts.each do |host| %>
    <tr>
      <td><%= link_to host.name, host_path(host.name) %></td>
      <td><%= host.vendor %></td>
      <td><%= host.model %></td>
      <td>
        <%= content_tag(:div, nil,
          title: host.connection_state,
          class: ["round", "#{host.connection_state == 'connected' ? 'bg-success' : 'bg-warning'}"]) %>
      </td>
    </tr>
  <% end %> <%# @hosts.each %>
  </tbody>
</table>