<h1>Edit VM information of <%= @vm[:name] %></h1>

<%= form_with(url: edit_vm_path(@vm[:id]), local: true) do |form| %>

<div class="field">
    <p>Users with sudo rights:</p>
    <%= form.select 'sudo_user_ids',
                    options_from_collection_for_select(User.all,
                                                     :id,
                                                     :email,
                                                     @users),
                    {},
                    { multiple: true, class: "selecttwo", data: { placeholder: 'choose wisely' }, style: 'width: 50%' } %>
</div>
<% end %>
