<h1>User profile</h1><br>

<table class="table">
  <tbody>
    <tr>
      <td>Email</td>
      <td><%= @user.email%></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @user.name%></td>
    </tr>
    <tr>
      <td>SSH-Key</td>
      <td>TBD</td>
    </tr>
  </tbody>
</table>
