<h1>User profile</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.user_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.user_profile.last_name %>
</p>


<p>
  <strong>SSH-Key:</strong>
  <%#= @user.user_profile.ssh_key%>
</p>