<h1>User profile</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.email %>
</p>
