<h1>
  Virtual Machines
  <small class="text-muted">This is the overview page for all currently existing vms</small>
</h1>
<ul class="list-group">
  <% @vms.each do |vm| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="col-4"><%= vm[:name]%></span>
        <span class="col-4">Running since: <%= vm[:boot_time]%></span>
        <div class="col-1"><%= button_to "Delete",
                           {controller: :vm, action: 'destroy', id: vm[:name] },
                           method: :delete, class: "btn btn-danger" %></div>
      </li>
  <% end %>
</ul>
