<% @projects.each do |project| %>
  <p><%= link_to project.name, project_path(project) %></p>
  <p>Description: <%= project.description %></p>
  <p>Responsible People</p>
  <ul>
  <% project.responsible_users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
  </ul>
<% end %>
