<table data-toggle="table" class="table table-striped">
  <thead>
  <th scope="col" data-sortable="true">Name</th>
  <th scope="col" data-sortable="true">Description</th>
  <th scope="col" data-sortable="true">Responsible</th>
  <th scope="col">Actions</th>
  </thead>
  <tbody>
  <% projects.each do |project| %>
    <tr>
      <td class="table-active"><%= link_to project.name, project_path(project) %></td>
      <td class="table-active"><%= project.description %></td>
      <td class="table-active">
        <ul class="list-inline mb-0">
          <% project.responsible_users.each do |user| %>
            <li class="list-inline-item"><%= link_to user.name, user %></li>
          <% end %>
        </ul>
      </td>
      <td class="table-active">
        <% if project.responsible_users.include? current_user %>
          <%= link_to 'Delete',
                      { controller: :projects,
                        action: 'destroy', id: project.id},
                        method: :delete,
                        data: {confirm: "Are you sure that you want to delte this VM?\nThe following VMs will loose their project: "},
                        class: "btn btn-danger" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
