<h1 class="float-left">Projects</h1>

<div>
  <% if current_user.employee_or_admin? %>
    <td>
      <%= link_to(fa_icon('plus'), new_project_path,
        title: 'Create new project',
        :data => { toggle: 'tooltip', placement: 'left' },
        class: 'btn btn-primary float-right', id: 'createNewProjectButton') %>
    </td>
  <% end %>
</div>

<%= render 'list', projects: @projects %>

<% if @projects.length == 0 %>
  <p class="empty-table-label">No projects created yet</p>
<% end %>
