<a href=<%="https://slack.com/oauth/authorize?client_id=347447968560.478902469265&scope=incoming-webhook&redirect_uri=http://159.69.32.65:3000/slack/auth" + @state%>><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>


<h3>Should fail</h3>

<a href=<%="https://slack.com/oauth/authorize?client_id=347447968560.478902469265&scope=incoming-webhook&redirect_uri=http://159.69.32.65:3000/slack/auth&state=error"%>><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
