<div class='row'>
  <div class='col-7'>
    <h1>VM-Portal</h1>
    <p>This Ruby on Rails application enables managing of virtual machines via VMware vSphere.</p>
    <p><a href="https://github.com/hpi-swt2/vm-portal">More information</a></p>
    <% if AppSetting.all.empty? %>
      <h3 class="text-danger">The server needs to be seeded before you can use the application. Just run "bin/rails db:seed" in your terminal. </h3>
    <%else %>
      <a class='btn btn-primary' href='<%= omniauth_authorize_path(:user, :hpi) %>'>
        Sign in with HPI OpenID Connect
      </a>
    <% end %>

  </div>
</div>
