<h1>Users</h1>

<table class="table">
  <thead>
    <th>Email</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Last login</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.email %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>`