<h1>Users</h1>

<table class="table">
  <thead>
    <th scope="col" data-sortable="true">Email</th>
    <th scope="col" data-sortable="true">Firstname</th>
    <th scope="col" data-sortable="true">Lastname</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.email %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>`