

<a href="<%= @controller.slack_auth_url(@request) %>">
  <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 500w, https://platform.slack-edge.com/img/add_to_slack@2x.png 1000w" />
</a>