<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @operation_system.name %>
</p>

<%= link_to 'Edit', edit_operation_system_path(@operation_system) %> |
<%= link_to 'Back', operation_systems_path %>
