/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 
 /*
 * Remove all the *= require and *= require_tree statements from the Sass file.
 * Instead, use @import to import Sass files.
 * Do not use *= require in Sass or your other stylesheets will not be 
 * able to access the Bootstrap mixins and variables.
 * See: https://github.com/twbs/bootstrap-rubygem#a-ruby-on-rails
 */

$primary: #0C415F;
$danger: #a80833;
$primary-active: #1f6993;
$primary-hover: #1a5b82;

// https://github.com/bokmann/font-awesome-rails#sass-support
@import "font-awesome";
// https://github.com/twbs/bootstrap-rubygem#a-ruby-on-rails
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
// Bootstrap styling for datatables
// https://github.com/mkhairi/jquery-datatables#stylesheets
@import 'datatables/dataTables.bootstrap4';
// optional datatables styles for extensions, include when used
//@import 'datatables/extensions/AutoFill/autoFill.bootstrap4';
//@import 'datatables/extensions/Buttons/buttons.bootstrap4';
//@import 'datatables/extensions/ColReorder/colReorder.bootstrap4';
//@import 'datatables/extensions/FixedColumns/fixedColumns.bootstrap4';
//@import 'datatables/extensions/FixedHeader/fixedHeader.bootstrap4';
//@import 'datatables/extensions/KeyTable/keyTable.bootstrap4';
//@import 'datatables/extensions/Responsive/responsive.bootstrap4';
//@import 'datatables/extensions/RowGroup/rowGroup.bootstrap4';
//@import 'datatables/extensions/RowReorder/rowReorder.bootstrap4';
//@import 'datatables/extensions/Scroller/scroller.bootstrap4';
//@import 'datatables/extensions/Select/select.bootstrap4';

@import 'notifications';
@import 'operating_systems';
@import 'requests';
@import 'resource_allocation';
@import 'vms';

th {
  @extend .text-white;
  @extend .bg-primary;
}

html, body {
  height: 100%;
  min-width: 1000px;
  width: 100%;
}

.page-container {
  margin: 25px 0 0 50px;
  width: calc(100% - 100px);
}

h1 {
  color: $primary;
}

.dashboard-header-link {
  text-decoration: none !important;
}

h3:hover {
  text-decoration: none;
  color: $primary-hover;
}

body {
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: 0;

  a {
    color: white;
  }

  .footer-element {
    padding-top: 20px;

    &__left {
      @extend .footer-element;
      padding-left: 50px;
    }
  }
}

.dropdown-menu {
  padding: 10px;
  width: auto;
}

.unread {
  background-color: #e6f3ff;
}

#menu-profile-dropdown {
  padding-top: 3px;
}

