$info: #0C415F;
$danger: #cb3448;
$success: #d7e76f;

@import "bootstrap";

html, body {
  height: 100%;
}

.btn-link {
  color: $info;
}

h1 {
  color: $info;
}

body {
  display: flex;
  flex-direction: column;
}

bg-blue {
  background-color: $info;
}

#content {
  flex: 1 0 auto;
}

#navbar {
  background-color: $info;

  .user_profile {
    margin-top: 2px;
  }
}

#footer {
  flex-shrink: 0;
  padding: 10px 0;
  background-color: $info;

  a {
    color: white;
  }
}
