// Place all the styles related to the OperatingSystems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
   &.field, &.actions {
     margin-bottom: 10px;
   }
 }

 label {
   display: block;
 }
