// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require select2

div {
  &.field {
    margin-bottom: 20px;
  }
}

label {
  display: block;
}

/* Selected items on top */
.select2-selection__choice {
	background-color: #0C415F !important;
	color: #FFFFFF !important;
}

.select2-container {
  width: 100% !important;
}

.styled-form {
  h5 {
    font-weight: bold;
    font-size: 1.2em;
  }
}