// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

label {
  display: block;
}

#content{
  padding-bottom: 5em;
}

.table-fixed-columns{
  table-layout: fixed;
  word-wrap: break-word;
}

.test{
  width: 30%;
}

.bottom-buffer{
	margin-bottom: 30px;
}

.right-buffer{
  margin-right: 5px;
}

h1{
  margin-bottom: 1em;
}
