// Place all the styles related to the servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.round {
    display: inline-block;
    height: 15px;
    width: 15px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;  
}