// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$info-active: #1f6993;
$info-hover: #1a5b82;

#btns_users_role .btn-info.active {
  background-color: $info-active;
  border-color: $info-active;
}

#btns_users_role .btn-info:hover {
  background-color: $info-hover;
  border-color: $info-hover;
}
