// Place all the styles related to the vm controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.half-screen-box {
    width: 49%;
    flex: 1;
}

.table-bar {
  width: auto;
  border: 0;
  margin: 1.5em 0 1em;

  td {
    padding-right: 20px;
  }
}

.create-form {
  width: auto;
  padding-bottom: 1.5em;
}

.login-form-group {
  padding-bottom: 1.5em;
}

.round {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
  display: inline-block;
}

.arrow-up::before {
  content: "\2191";
}

.checkmark::before {
  content: "\2713";
}

.cross::before {
  content: "\2715";
}

.replay::before {
  content: "\21BB";
}

.play::before {
  content: "\25B6";
}

.stop::before {
  content: "\25A0 ";
}

.script-doc::before {
  content: "\1F4CE";
}