// Place all the styles related to the vm controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.half-screen-box {
    width: 49%;
    flex: 1;
}

.archived{
  background: #eee;
}

h2{
  margin-top: 40px;
}