// Place all the styles related to the vm controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.half-screen-box {
    width: 49%;
    flex: 1;
}

.table-bar {
  width: auto;
  border: 0;
  margin: 1.5em 0 1em;

  td {
    padding-right: 20px;
  }
}

.create-form {
  width: auto;
  padding-bottom: 1.5em;
}

.form-group {
  width: 500px;
}

.filter_icon {
  font-size: 2em;
}
.archived{
  background: #eee;
}

h2{
  margin-top: 40px;
}
