<footer class="fixed-bottom text-white bg-primary">
  <div class="p-2">
    &copy;
    <%= link_to "HPI Enterprise Platform and Integration Concepts", 'https://hpi.de/plattner/home.html' %>
    -
    <%= link_to "Legal Notice", 'https://hpi.de/en/impressum.html' %>
  </div>
</footer>

