<div id="footer" class="text-white bg-primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-left footer-element__left">
        <h4>
          More Information
        </h4>
        <p>&copy;
          <%= " " %>
          <%= link_to "HPI Enterprise Platform and Integration Concepts", 'https://hpi.de/plattner/home.html' %>
          <%= ' - ' %>
          <%= link_to "Legal Notice", 'https://hpi.de/en/impressum.html' %>
        </p>
      </div>
    </div>
  </div>
</div>
