<div id="footer" class="text-white bg-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-left footer-element__left">
        <h4>
          More Information
        </h4>
        <p>&copy;
          <%= " " %>
          <%= link_to "HPI EPIC", 'https://hpi.de/plattner/home.html' %>
          <%= ' - ' %>
          <%= link_to "Legal Notice", 'https://hpi.de/en/impressum.html' %>
        </p>
      </div>
      <div class="col-md-6 footer-element">
        <h4>
          About HART
        </h4>
        <p>
          HART allows to Request and Manage VM's provided by the HPI Admin team.
        </p>
      </div>
    </div>
  </div>
</div>
