@import "custom_bootstrap";

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-blue {
  background-color: white;
  color: black;
  border: 2px solid $primary;
}

.button-blue:hover {
  background-color: $primary;
  color: white;
}
