@import "custom_bootstrap";

$placeholder-color: Silver;

.filter-box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $placeholder-color;
  opacity: 1; /* Firefox */
}

.filter-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $placeholder-color;
}

.filter-box::-ms-input-placeholder { /* Microsoft Edge */
  color: $placeholder-color;
}

.filter-box {
  padding: 0.3rem 0.5rem;
  width: 20%;

  @extend .mb-3;
  @extend .bg-secondary;
  @extend .border-0;
  @extend .rounded;
  @extend .text-white;
}